<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" /> 
    <link rel="stylesheet" href="styles/skeleton.css" /> 
    <title>Dunder Mifflin</title>
    <script src="./js/signin.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container" id="container">
        <div class="six columns half-container" id="login-img-container">
            <img src="./img/logo.png" alt="" id="main-logo">
        </div>

        <div class="six columns half-container" id="login-form-container">
            <div class="form-container nine columns">
                <h3 class="nine columns">Bienvenido a la familia :)</h3>
                <input class="eight columns" type="text"  id="input-name" placeholder="Nombre">
                <input class="eight columns" type="email"  id="input-mail" placeholder="Correo">
                <input class="eight columns" type="password"  id="input-pswd" placeholder="Contraseña">
                <button class="primary-button login-button">Registrarme</button>
                <button class="second-button signin-button">Quiero iniciar sesión</button>
            </div>
        </div>
    </div>
</body>

</html>