<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/employee-styles.css">
    <link rel="stylesheet" href="styles/main.css" /> 
    <link rel="stylesheet" href="styles/skeleton.css" /> 
    <script src="./js/employee-info.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/generate-menu.js"></script>
    <title>Dunder Mifflin</title>
</head>
<body>
    
    <div class="container">
        <top-menu></top-menu>
        
        <div class="data-info-container five columns" id="data-info-fill">
            
            
        </div>

        <div class="actions" id="actions-container">
            
        </div>
        
    </div>
</body>
</html>