<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/index-styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Dunder Mifflin</title>
</head>

<body>
    <div class="container" id="container">
        <div class="header-menu">
            <img src="./img/logo-small.png" id="logo-top" />
        </div>

        <div class="info-container twelve columns" id="info-container">
            <h4>Personal en funciones</h4>

            <div id="inner-container">
                <div class="four columns">
                    <div class="card">
                        <div class="id-container">
                            <span class="empid">1</span>
                        </div>
                        <div class="card-info">
                            <span class="empname">Michael Scott</span>
                            <span class="email"><i>michael@gmail.com</i></span>
                            <span class="address">Paseo de la Pradera 4321, Col. Niños Verdes, Tlaxcala,
                                Tlaxc</span>
                        </div>

                        <button id="action-employee-btn" onclick="window.location.href=''" >Ver empleado</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>